# Ignore environment variables for The Odds Api
The Odds Api/.env

# Ignore some folders
logs/
evaluation_results/

# Ignore the config file in the Prediction folder
Live Implementation/config.yaml
Prediction/config.yaml
Match Results/config.yaml
The Odds Api/config.yaml

# Ignore data files
*.json
*.csv
*.parquet
*.joblib
*.png

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other sensitive or unnecessary files
*.log
*.sqlite3

# Ignore DS Store
*/.DS_Store
.DS_Store
Prediction/.DS_Store
Match Results/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.nbconvert.ipynb
*-checkpoint.ipynb
*.yaml
